[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
setuptools = "*"
wheel = "*"
twine = "*"
black = "*"
prospector = "*"

[packages]

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
